{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <title>About Us</title>
</head>

<body>
    <header>
        <ul class="logo">
            <a href="http://127.0.0.1:8000/"><img src="{% static 'images/logo.png' %}" alt="Explore Gujarat"></a>
            <h3><a style="text-decoration:none" href="http://127.0.0.1:8000/">Explore Gujarat</a></h3>
        </ul>
    </header>

    <div>
        <section class="company-heading intro-type container">
            <h1 title-text>
                About Us
            </h1>
            <h2 class="main-text">
                WHAT DRIVES US
            </h2>
        </section>
        <section>
            <div>
                <h3 class="secondary-text">
                    Our ultimate goal is to provide accurate and detailed information about all traveling places in
                    Gujarat. by this users are able to know about the different places before planning their trip to
                    Gujarat.
                </h3>
            </div>
            <div>
                <div class="red-border">
                    &nbsp;
                </div>

                <img src="{% static 'images/male-user.png' %}" class="user-img">
                <h2 class="user-name">Ankit Pipalia</h2>
                <h4 class="user-email">ankit.pipalia16940@marwadieducation.edu.in</h4>
                <br>
                <br>
                <img src="{% static 'images/male-user.png' %}" class="user-img">
                <h2 class="user-name">Parthiv Hirani</h2>
                <h4 class="user-email">parthiv.hirani16901@marwadieducation.edu.in</h4>
                <br>
                <br>
                <img src="{% static 'images/male-user.png' %}" class="user-img">
                <h2 class="user-name">Meet Rachhadiya</h2>
                <h4 class="user-email">meet.rachhadiya16877@marwadieducation.edu.in</h4>
                <br>
                <br>
                <img src="{% static 'images/male-user.png' %}" class="user-img">
                <h2 class="user-name">Mihir Katariya</h2>
                <h4 class="user-email">mihir.katariya16924@marwadieducation.edu.in</h4>
                <br>
                <br>
                <img src="{% static 'images/male-user.png' %}" class="user-img">
                <h2 class="user-name">Dax Panara</h2>
                <h4 class="user-email">daxkumar.panara16902@marwadieducation.edu.in</h4>
                <br>
            </div>
    </div>


    <footer id="footer">
        <!-- about section -->
        <ul id="about" class="footer-item">
            <ul class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Explore Gujarat">
                <h3>Explore Gujarat</h3>
            </ul>

            <!-- copyright section -->
            <ul class="footer-item" id="copyright">
                <p class="text-para" style="text-align: right;">2022 &copy; Explore Gujarat, all rights
                    reserved </p>
            </ul>
    </footer>

</body>


</html>
