{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/city.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone.css' %}">
    <title>City</title>
</head>

<body>
    <header>
        <ul class="logo">
            <a href="http://127.0.0.1:8000/"><img src="{% static 'images/logo.png' %}" alt="Explore Gujarat"></a>
            <h3><a style="text-decoration:none" href="http://127.0.0.1:8000/">Explore Gujarat</a></h3>
        </ul>
    </header>
    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="red-border">
           &nbsp;
        </div>
        <br>

          

        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">01</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Ahmedabad">Ahmedabad</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/ahmedabad.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/WJNsNNiTCk6DEMTBA" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Founded in the 15th century, Ahmedabad is the largest city in the state
                of Gujrat. The city is a vibrant business district and rising centre of education, information
                technology and scientific industries. Divided in two - the old city and the new city; The city offers
                different moods right from the hustle-bustle of C.G. Road in the heart of Ahmedabad to the quite retreat
                of of the Sabarmati Ashram. Ahmedabad enjoys a thriving cultural tradition, being the centre of Gujarati
                cultural activities and diverse traditions of different ethnic and religious communities. Popular
                celebrations and observances include Uttarayan - an annual kite-flying day on 14 January and the nine
                nights of Navratri - celebrated with people performing Garba - the folk dance of Gujarat - at venues
                across the city.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">02</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Gandhinagar">Gandhinagar</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/gandhinagar.jpg' %}" width="550" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/PffkJEaMBGGjdPs29" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">With the tag of the cleanest city in Asia, Gandhinagar is the
                administrative capital of the Gujarat located on the western bank of Sabarmati river. Named after the
                father of Nation, Mahatma Gandhi, Gandhinagar is the second planned city of India, after Chandigarh. The
                city is divided into thirty organised sectors, each of them is pedestrian friendly and self-contained.
                It's more of a people-oriented city, with all the parks, monuments, gardens and grand civic buildings.
                This spacious city also houses many places to visit for sightseeing like Swaminarayan Temple, Sarita
                Udyan, Children's Park, Indroda Dinosaur and Fossil Park, Rani Roopmatis Mosque and Capital Complex.
                Besides, there are many dishes that reflect the Gujarat's rich heritage. Gandhinagar is a
                vegetarian-friendly city. Although the capital city has many upscale restaurants, it's street food that
                represents the gastronomic vibe.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">03</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Kutch" >Kutch</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/kutch.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/ZAZjoH3FRAaf8SpE7" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">A land of colour, culture and spectacular topography, Kutch with its
                rustic beauty is nothing less than a pictorial wonderland. Kutch, the land of the creators, myriad
                colors, and infinite variety, is the place where time has left its footprints. The literal meaning of
                term Kutch is something which intermittently becomes wet and dry. The term 'Kutch' is also used for
                tortoise in Sanskrit. A large part of the Kutch, commonly known as the Great Rann of Kutch, submerges in
                water during the rainy season and becomes dry during the winter season. Starting from Indus valley
                civilization to Rao dynasty, every ruler has gifted Kutch legacy of art and architecture.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">04</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Rajkot" >Rajkot</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/rajkot.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/iJRBcmcGvDhikUbA6" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">The former princely capital of Saurashtra region and now an emerging
                tourism destination and business hub, Rajkot is the fourth largest city in Gujarat, located on the banks
                of Aji and Nyari Rivers. Founded in the year 1612 as the headquarters of Western India States Agency,
                Rajkot was earlier the administrative center for some 400 princely states in Saurashtra, Kutch, and
                northern Gujarat. The city also attracts tourists because of its proximity to the life of Mahatma Gandhi
                and best sightseeing tours which are worth a visit for every history buffs.Rajkot is relatively a young
                kingdom, carved out of territories seeded and captured by Thakore Sahib Vibhoji Ajoji Jadeja, a scion of
                the Jamnagar Royal Family in 1620 AD.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">05</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Surat</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/surat.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/HPMYe9kCefh2JyM39" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Surat is the fastest growing city in the world and a powerful magnet
                for fashion moguls, art lovers and diamond dealers. In the mid 15th century, Surat was one of the
                India's most important port cities.'Diamond Hub of the World', 'Embroidery capital of India', 'Textile
                City
                of India' as it is proudly called; Despite many historical travails and battles, the city retains an
                intriguing medieval charm. Historic romanticism, along with the coastal graciousness, is what makes
                Surat an important tourist destination in Gujarat.One can see the footprints of the city in the epic
                novel, Mahabharat, as per which Lord Krishna had a brief stopover in Surat when he was going to Dwarka,
                from Mathura. In 990 AD, Surat was known as Suryapur, meaning the city of the sun god. By the 12th
                century, Parsis began to settle in the city and prevailed with dignity in this region of Gujarat.</p>
        </article>
        <br>
        <br>
        <br>
        <br>    
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">06</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Vadodara</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/vadodara.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/n3rYbrUUW6XfAUNz7" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Vadodara (formerly Baroda) is the third largest city in Gujarat, located
                on the bank of Vishwamitri River, towards the south-east of Ahmedabad. Gigantic monuments, museums and
                gardens documenting the Indian history dominate the old quarter of Vadodara. The tinsel town is the
                brainchild of Sayajirao III, a farsighted ruler who introduced free primary education and laid
                foundation for premier institutions like Bank of Baroda, a railway system and Maharaja Sayajirao
                University.Many tales and fables are associated with the name of the city. As per the history accounts,
                the city was christened as 'Chandravati' after its ruler Raja Chandan, later it was changed to 'Viravati
                'meaning the abode of the brave, and then 'Vadpatra' due to the abundance of banyan trees here. From the
                term 'Vadpatra', the city got its final name - Baroda or Vadodara.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">07</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Bhavnagar</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/bhavnagar.webp' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/noUaFHfkrYBUTahj7" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Bhavnagar is a tiny town that greets everybody with its richness of
                traditions, enlaced in the modern life. Due to its closeness to the sea, the city has always been an
                important centre of trade and commerce of cotton goods. Today this large provincial city has some
                intriguing temples, museums and also serves as a gateway to several parks and reserves including
                Velavadar Blackbuck National Park. The city has associations with Mahatma Gandhi, who went to university
                here, and relics of his life can be seen at Gandhi Smriti in the 1895 AD Barton museum building, which
                also has a collection of coins, stamps, guns and other arms, sculpture and folk arts. It is a bustling
                trading centre with colourfully set bazaars, people sporting blood-red turbans, puppet sellers, and
                festivals and fairs. Takhteshwar Temple, Gaurishankar Lake, Nilambagh, Velavadar National Park, Victoria
                Park, Khodiyar Mandir, Aksharwadi Temple, and Shri Adishwar Temple are some important tourist
                attractions, which are worth a visit on a holiday to Bhavnagar.</p>
        </article>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">08</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Jamnagar</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/jamnager.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/E9SvWtWn4gfVqqHq9" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">
                Known to the world as the Jewel of Kathiawar, Jamnagar is an offbeat tourist holiday destination in
                Gujarat brimming with the ornate building, pristine coastal region and picturesque lakes. Located on the
                coast of Gulf of Kutch, Jamnagar is the largest city on the western region of India. In the heart of the
                city, there is a fort amidst the lake while the coastal area is covered with an oil refinery, which is
                largest in the world, beaches and spectacular Marine National Park. With exquisite Rajput architecture
                and pristine coastline, Jamnagar is Gujarat's lesser-known gems.Jamnagar (former Nawanagar) came into
                limelight 444 years ago when it was established on the bank of Nagmatti and Rangmattiriver by the Shri
                Jam Raval, who is deemed as one of the heirs of Lord Krishna.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">09</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Junagadh</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/junagadh.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/ABRBhVBWP5SpZ8ph6" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Junagadh, one of the Gujarat's most inspiring and beautiful districts,
                is a heady mix of marvellous architecture and vibrant street life. The literal meaning of the term
                "Junagadh" is "old city", the city takes its name from Uparkot, an ancient fort built in the 4th century
                CE on a plateau at the eastern edge of the town. Junagadh is also known as "Sorath", the name of the
                earlier Princely State of Junagadh. In Junagadh, one can see in inscriptions, edicts, caves, temples,
                forts, stepwells, tanks and canons dating back to 2nd century AD, and not to forget the Girnar
                Hill.Amongst the numerous attractions in Junagadh, places like Girnar, Mahabat Maqbara, Uperkot fort,
                Sakkarbaug Zoological Garden, Damodar Kund and Damodarji Temple, are most favourite of the tourists.
                Jungadh's main attraction, however, remains the Girnar hill, located towards the east of the city.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">10</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary">Anand</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/cities/anand.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/3bvcV2dzuaUA54a28" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Anand is a major city located in the Anand District of Gujarat. It rests
                at a distance of 101 kilometres from Gandhinagar, the state capital. Anand is often known as the Milk
                Capital of India due to the establishment of the AMUL manufacturing plant and the milk revolution that
                took place in the 20th century.The epicentre of the white revolution in the country back in the 60s,
                Anand is a place known for its semi-rural setup and the Swami Narayan Mandir which is the crown jewel of
                the city. An emerging city, Anand still has traces of its rural past which can be seen when one is
                travelling to this wonderful city.Anand is the home to both Gujaratis and non-Gujaratis. Gujarati is the
                main language but other languages are also well-spoken. Their local cuisine is Gujrati and comprises of
                Dhokla, Khakda, Fafda and more. Anand is also a major tourist hub and its attractions include AMUL
                Museum and the Chocolate Factory.</p>
            <br>
            <br>
            <br>

            <div class="col-md-8 col-md-offset-2">
                <div class="red-border">
                   &nbsp;
                </div>


        <footer id="footer">
            <!-- about section -->
            <ul id="about" class="footer-item">
                <ul class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Explore Gujarat">
                    <h3>Explore Gujarat</h3>
                </ul>
               
            <!-- copyright section -->
            <ul class="footer-item" id="copyright">
                <p class="text-para" style="text-align: right;">2022 &copy; Explore Gujarat, all rights reserved </p>
            </ul>
        </footer>
    </article>
</body>


</html>
