{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- title for website -->
    <title>Explore Gujarat</title>

    <!-- css stylesheets -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 1216px)" href="/gujarat/template/css/phone.css">

    <!-- website logo -->
    <link rel="icon" href="{% static 'images/logo.png' %}">

    <!-- link for google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">

    <!-- link for fontawesome -->
    <script src="https://kit.fontawesome.com/deb091a632.js" crossorigin="anonymous"></script>
</head>
<body background="{% static 'images/bg-registration.jpg' %}" style="background-repeat: no-repeat;background-size: 100%;">
    <!-- registration -->
    <section id="registration">
        <!-- Registration Form -->
        <form action="#" id="reg-form" method="post">
            {% csrf_token %}
            <!-- form header -->
            <h1 class="text-primary center">  Login  </h1>
            <!-- form body -->
            <div class="form-group">
                <i class="fa fa-envelope"></i>
                <input type="email" name="" id="email" placeholder="Enter your Email" class="text-para">
            </div>
            <div class="form-group">
                <i class="fa fa-unlock-alt"></i>
                <input type="password" name="" id="password" placeholder="Enter your Password" class="text-para">
            </div>
            <div class="resetlink">
                <a href="http://127.0.0.1:8000/signup/">Forgotten your password?</a>
            </div>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn text-para">Submit</button>
        </form>
    </section>
</body>
</html>
