{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/city.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone.css' %}">
    <title>Spots</title>
</head>

<body>
    <header>
        <ul class="logo">
            <a href="/gujarat/template/index.html"><img src="{% static 'images/logo.png' %}" alt="Explore Gujarat"></a>
            <h3><a style="text-decoration:none" href="http://127.0.0.1:8000">Explore Gujarat</a></h3>
        </ul>
    </header>
    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="red-border">
            &nbsp;
        </div>
        <br>



        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">01</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Statue-of-Unity">Statue of Unity</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/statueofunity.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/YZFGRhWD3nBei6ee8" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">The world's tallest statue, dedicated to Indian independence activist
                Sardar Vallabhbhai Patel (1875–1950), was completed in 2018. At 182 meters tall, it's twice the size of
                the Statue of Liberty. Patel was the first Deputy Prime Minister and Home Minister of independent India,
                and is highly regarded for his leadership in bringing the 562 princely states of India together. The
                area around the statue has been developed as a comprehensive tourist destination for the whole family to
                enjoy, with enough activities and attractions to fill in at least three days.Apart from the statue,
                these include a sound and laser show, butterfly garden, cactus garden, Ayurvedic wellness center,
                eco-friendly and medicinal plant nursery, handicraft stores, valley of flowers, forest with native
                trees, children's park with train and mirror maze, safari park and zoo, zip-lining, white water rafting,
                cycling, and boating on the lake.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">02</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Sabarmati-Ashram">Sabarmati Ashram</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/eiffel-tower.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/Xqjchbtt5SW9jui47" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Inaugurated by his contemporary Jawaharlal Nehru, Mahatma Gandhi’s
                erstwhile home has been converted to a simple but engaging museum. The Ashram, named after the eponym
                Sabarmati River is fragmented into two sections – where Gandhi actually lived, and the modern section
                conceived by architect Charles Correa. The ashram is ensconced in a peaceful aura, partially due to the
                reverence that visitors show and possibly due to a unique energy that the place actually has. This is
                the place where Gandhi started the Satyagraha Movement. You will find that the complex dotted with
                people meditating, walking in silence or transfixed to the gallery, which showcases Gandhi’s many
                photographs and memorabilia. The finest part for a traveller is to pick a spinning wheel memento from
                the curio shop and also send a postcard from the in-house postbox. A special ‘charkha’ stamp is used
                when your mail leaves the ashram.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">03</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Ropeway-of-Girnar">Ropeway of Girnar</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/colosseum.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/WYrbZhwqmpaUJt6R9" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Mount Girnar is a major pilgrim site because of presence of the Amba
                temple, the Dattatreya shrine, and many Hindu temples as well as several Jain temples.
                The project was first proposed by the Tourism Corporation of Gujarat Limited (TCGL) in 1983 which
                suggested the diversion of about 9.1 hectares (22 acres) of forest land. The Government of Gujarat
                finalised diversion of 7.29 hectares (18.0 acres) of forest land in 1994 and the compensatory forest
                land was granted near Toraniya village. The Government of India also permitted in 1995.The project was
                delayed when the palanquin-bearers, who carried pilgrims up the mount, opposed the
                project and petitioned the Gujarat High Court regarding their livelihood. The petition was dismissed
                after the company constructing the ropeway, Usha Breco Limited, agreed for compensatory livelihood.[2]
                As of 2020, total 104 shops for palanquin-bearers who were affected by the project, are being
                constructed in the parking lot of the lower terminal.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">04</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Rann-of-Kutch">Rann of Kutch</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/status-of-liberty.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/nvVbQi8tNrhmk3CQ6" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">The immense stretch of largely barren and harsh desert landscape that is
                the Kutch region of Gujarat is sometimes described as India's "Wild West". Its name, Kutch (or Kachchh),
                refers to the fact that it alternates between wet (submerged during the monsoon season) and dry. Much of
                Kutch consists of seasonal wetlands known as the Great Rann of Kutch (famous for its salt desert) and
                smaller Little Rann of Kutch (famous for its Wild Ass Sanctuary). Other attractions in the Kutch region
                include historic Bhuj, villages and traditional handicrafts, the ship building in the port town of
                Mandvi, and the Dholavira ruins of an ancient Indus Valley Civilization/Harappan city.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">05</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Sun-Temple">Sun Temple</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/suntemple.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/UEHeGeecgsDVULtG9" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">The Sun Temple is a Hindu temple dedicated to the solar deity Surya
                located at Modhera village of Mehsana district, Gujarat, India. It is situated on the bank of the river
                Pushpavati. It was built after 1026-27 CE during the reign of Bhima I of the Chaulukya dynasty. No
                worship is offered now and is protected monument maintained by Archaeological Survey of India. The
                temple complex has three components: Gudhamandapa, the shrine hall; Sabhamandapa, the assembly hall and
                Kunda, the reservoir. The halls have intricately carved exterior and pillars. The reservoir has steps to
                reach the bottom and numerous small shrines.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">06</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Rani-Ki-Vav">Rani Ki Vav</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/ranikivav.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://g.page/theranikivav?share" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Rani Ki Vav ('The Queen's Stepwell') is a stepwell situated in the
                town of Patan in Gujarat state of India. It is located on the banks of Saraswati river. Its construction
                is attributed to Udayamati, daughter of Khengara of Saurashtra, queen and spouse of the 11th-century
                Chaulukya king Bhima I. Silted over, it was rediscovered in 1940s and restored in 1980s by the
                Archaeological Survey of India. It has been listed as one of the UNESCO's World Heritage Sites since
                2014.The finest and one of the largest examples of its kind and designed as an inverted temple
                highlighting the sanctity of water, the stepwell is divided into seven levels of stairs with sculptural
                panels; more than 500 principal sculptures of Bhagwan Vishnu and over 1000 minor ones combine religious
                and Legendary imagery.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">07</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Somnath-Temple">Somnath Temple</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/somnath.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/WxwRd66tkVvFdZBJ7" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Somnath is a temple town situated in the Gir Somnath district of
                Gujarat. Also known as Prabhas Patan, it is one of the most important places of pilgrimage in India, and
                among the prominent places to visit in Gujarat. It is about 197 km from Rajkot, and 408 km from
                Ahmedabad.The town of Somnath is famous for the Somnath Temple, among the must include places in Somnath
                packages.
                Dedicated to Lord Shiva, the temple is one among the twelve prominent Jyotirlinga shrines and also one
                of the oldest pilgrimage sites in Gujarat. Somnath Beach, Gita Mandir, Bhalka Tirtha, Rudreshwara
                Temple, Triveni Sangam Temple, Suraj Mandir, Parshuram Temple, Kamnath Mahadev Temple, Junagadh Gate,
                Somnath Museum, Panch Pandav Gufa are some other tourist places in Somnath.Somnath Mahadev Fair which is
                held on Kartik Purnima and Maha Shivaratri are the two major festivals
                celebrated in Somnath with great pomp and fervor. The temple town witnesses a huge number of tourists
                from various parts of the country during these festivals.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">08</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Gir-National-Park">Gir National Park</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/gir.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/TdP3DuTJWc2os7pt5" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Gir National Park, also known as Sasan Gir, is one of the renowned
                national parks in India, and among the best places of among the best places to visit in Gujarat. It is
                situated about 156 km from Rajkot, and 372 km from Ahmedabad.Established as a sanctuary in 1965, Gir
                National Park is the most popular national parks in Gujarat as
                it is the royal kingdom of Asiatic lions and essentially the only place besides Africa on earth where
                these majestic beasts roam freely. Besides Asiatic lions, one can see Asiatic lion, Indian leopard,
                jungle cat, striped hyena, Golden jackal, Indian and Ruddy mongoose, honey badger, chital, nilgai,
                sambar, four-horned antelope, chinkara, and wild boar here as part of Gir tour packages.The entrance
                gate to the park is located at Sasan Gir village beside Sinh Sadan. Jungle Safari is one of
                the best things to do in Gir National Park. Besides, there is also a Gir Interpretation Zone, also known
                as Devalia Safari Park at Devalia, and was established to reduce the excess of tourists at the Gir
                National Park.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">09</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Palitana">Palitana</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/palitana.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/nGRGNCgbgvZKRPX27" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">The hustling, dusty town of Palitana, 51 km southwest of Bhavnagar, has
                grown rapidly to serve the pilgrim trade around the Shatrunjaya Hill. The sacred site contains hundreds
                of shrines that were sanctified when Rishabha, the first Tirthankara of Jainism, gave his first sermon
                in the temple on the hilltop. Even though the climb to the temples is a rigorous one, it awards a
                dazzling sight of the intricately carved temples. During the Kartik Purnima festival, accommodation
                around town floods with pilgrims and is best booked in advance.The Palitana temples on Shatrunjaya Hill
                were built over a period of 900 years starting from the 11th century. It was Kumarpal Solanki, a great
                Jain patron, who built the first temples on this site. The temples were destroyed by Turkish Muslim
                invaders in 1311 AD, when the saint Jinaprabhasuri, who was then 50 years old, presided over the
                temples, but later restored them to their glory.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <article>
            <h2 class="city-title">
                <div id="list-sc__content_1-0" class="comp list-sc__content mntl-sc-page mntl-block"
                    data-sc-sticky-offset="95" data-sc-ad-label-height="11" data-sc-ad-track-spacing="100"
                    data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="50em"
                    data-sc-load-immediate="5" data-sc-content-positions="[1, 1, 1, 1250, 1, 1, 1, 1]"
                    data-bind-scroll-on-start="true">
                    <div id="list-sc-item_1-0" class="comp list-sc-item mntl-block">
                        <div id="list-marker_1-0" class="comp list-marker">
                            <span class="list-marker__index">10</span>
                            <span class="list-marker__total">of 10</span>
                        </div>
                        <p class="city-title text-primary" id="Saputara">Saputara</p>
            </h2>
            <br>
            <div class="city-photo">
                <img src="{% static 'images/spots/saputara.jpg' %}" width="550px" height="310px" />
            </div>
            <br>
            <div class="map-d">
                <img src="{% static 'images/direction.png' %}" width="30px" height="30px">
                <a href="https://goo.gl/maps/JzWGAeE7d5tcLqpQ8" target="_blank" class="map-d">View on
                    Google Maps</a>
            </div>
            <br>
            <br>
            <p class="city-text text-secondary">Positioned on the Maharashtra- Gujarat border, Saputara is the only hill
                stations in Gujarat, and among the well-planned hill stations in India. It is situated about 77 km from
                Nashik, and 398 km from Ahmedabad.Nestled in the Sahyadri range of Western Ghats at an altitude of about
                1000 m, Saputara is one of the most popular places to visit near Pune. The lush green forests,
                undulating mountains, dazzling waterfalls, dreamy winding roads, stunning landscape, and salubrious
                climate make the picturesque hill station of Saputara a perfect escape into the lap of Mother Nature as
                part of Saputara packages.Saputara Lake, Sunrise Point, Sunset Point, Saputara Tribal Museum, Gira
                Waterfalls, Nageshwar Mahadev Temple, Artist Village, etc. are some of the prominent tourist places in
                Saputara.</p>
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="col-md-8 col-md-offset-2">
            <div class="red-border">
                &nbsp;
            </div>


            <footer id="footer">
                <!-- about section -->
                <ul id="about" class="footer-item">
                    <ul class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="Explore Gujarat">
                        <h3>Explore Gujarat</h3>
                    </ul>

                    <!-- copyright section -->
                    <ul class="footer-item" id="copyright">
                        <p class="text-para" style="text-align: right;">2022 &copy; Explore Gujarat, all rights reserved
                        </p>
                    </ul>
            </footer>
            </article>
</body>
</html>